@import "~sanitize.css";

$color--accent: #c83a22;

html {
  --color--accent: #c83a22;
  --color--accent-medium: #b3260d;
  --color--accent-dark: #702415;
  --color--nearblack: #090909;
  --color--warmwhite: #e2e0e0;
  --color--white: #fff;
  --color--white-opac: rgba(255, 255, 255, 0.8);
  --color--white-red: #f9eae9;

  --background-color--base: var(--color--warmwhite);
  --background-color--white: var(--color--white);
  --background-color--accent: var(--color--accent);
  --background-color--dark: var(--color--nearblack);
  --text-color--light-primary: var(--color--white);
  --text-color--light-secondary: var(--color--white-opac);
  --text-color--light-red: var(--color--white-red);
  --text-color--dark-primary: var(--color--nearblack);
  --text-color--accent: var(--color--accent);
  --text-color--accent-dark: var(--color--accent-dark);
  --text-font--sans-serif: "Lato", sans-serif;
  --text-font--script: "Caveat";
  font-size: 62.5%;
}

body {
  font-family: var(--text-font--sans-serif);
  background-color: var(--background-color--base);
  font-size: 1.6rem;
}

.main {
  counter-reset: footnotes;
}
