@import '~sanitize.css';

html {
  --color--accent: #c83a22;
  --color--accent-dark: #ac1d11;
  --color--nearblack: #090909;
  --color--offwhite: #CED3CD;
  --color--white: #fff;

  --background-color--base: var(--color--offwhite);
  --background-color--accent: var(--color--accent);
  --text-color--primary-light: var(--color--white);
  --text-color--primary-dark: var(--color--nearblack);
  --text-color--accent: var(--color--accent);
  --text-color--accent-dark: var(--color--accent-dark);
  --text-font--sans-serif: "Lato", sans-serif;
  --text-font--script: "Caveat";
  font-size: 62.5%;
}

body {
  font-family: var(--text-font--sans-serif);
  background-color: var(--background-color--base);
  font-size: 1.6rem;
}