@import "../mixins.scss";

.accordion {
  counter-reset: accordion;
  list-style: none;
  padding: 0;
  @include mq(medium) {
    margin-top: 4rem;
  }
  &__item {
    counter-increment: accordion;
    position: relative;
    border: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: var(--text-color--dark-primary) 0.25rem solid;
    border-bottom: 0;
    background: var(--background-color--white);
    transition: background ease-out 150ms;
    @include mq(medium) {
      padding: 3rem 3rem 3rem 1rem;
      align-items: initial;
      border-width: 1rem;
    }
    &--open {
      align-items: initial;
    }
    &:before {
      content: "0" counter(accordion) ".";
      font-family: var(--text-font--script);
      font-size: 2rem;
      margin: 0 1rem 0 0;
      flex-shrink: 0;
      align-self: flex-start;
      @include mq(medium) {
        font-size: 2.4rem;
        margin: 0 2rem 0 1rem;
      }
    }
    &:last-of-type {
      border-bottom: var(--text-color--dark-primary) 0.25rem solid;
      @include mq(medium) {
        border-width: 1rem;
      }
    }
  }
  &__title {
    display: flex;
    font-size: 1.8rem;
    margin: 0;
    padding-right: 3rem;
    line-height: 120%;
    color: var(--text-color--dark-primary);
    cursor: pointer;
    @include mq(small) {
      font-size: 3.2rem;
    }
    @include mq(medium) {
      font-size: 4.4rem;
      padding-right: 6rem;
    }
  }
  &__body {
    display: block;
    max-width: 76rem;
    overflow: hidden;
    transition: max-height 150ms ease-out;
    .accordion__item--open & {
      height: initial;
    }
    p {
      margin: 0 0 1rem 0;
      font-size: 1.4rem;
      &:first-of-type {
        margin-top: 1rem;
        @include mq(medium) {
          margin-top: 2rem;
        }
      }
      @include mq(medium) {
        font-size: 2.4rem;
      }
    }
    blockquote {
      margin-left: 0;
      padding: 1rem 2rem;
      background-color: var(--color--gray);
      width: 100%;
      border-radius: 0.8rem;
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 700;
      @include mq(medium) {
        font-size: 2.4rem;
      }
    }
  }
  &__icon {
    padding-top: 1.25rem;
    width: 2.6rem;
    height: 2.6rem;
    align-self: flex-start;
    color: inherit; //button reset
    font: inherit; //button reset
    cursor: pointer; //button reset
    outline: inherit; //button reset
    text-align: inherit; //button reset
    background: none; //button reset
    border: 0; //button reset
    padding: 0; //button reset
    @include mq(medium) {
      width: 5.2rem;
      height: 5.2rem;
    }
    svg {
      width: 100%;
      height: auto;
      transition: transform ease-out 150ms;
      transform-origin: center center;
      .accordion__item:hover & {
        transform: scale(0.9);
      }
      path {
        transition: all ease-out 150ms;
        transform-origin: center center;
        fill: var(--text-color--accent);
      }
      [class*="open"] & {
        transform: rotate(-180deg) scale(0.9) !important;
        path {
          fill: var(--text-color--dark-primary);
        }
        path:first-of-type {
          transform: rotate(90deg);
        }
      }
    }
  }
}
