.footer {
  padding: 4rem 2rem;
  background: var(--background-color--dark);
  &__container,
  &__copyright {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__container {
    border-top: 0.1rem solid var(--color--gray-dark);
    padding-top: 3rem;
  }
  &__copyright {
    margin-top: 2rem;
    color: var(--color--gray-dark);
    font-size: 1.4rem;
    a {
      color: var(--text-color--light-primary);
      text-decoration: none;
      &:hover {
        color: inherit;
      }
    }
  }
  &__logo {
    width: 12rem;
    .logo {
      &__outline,
      &__text {
        fill: var(--text-color--light-primary);
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;

    color: var(--text-color--light-primary);
    a {
      color: inherit;
      text-decoration: none;
      letter-spacing: 0.2rem;
      margin-left: 4rem;
    }
  }
  &__link {
    &:hover {
      color: var(--color--gray-dark);
    }
    &--social {
      width: 3.2rem;
      height: 3.2rem;
      padding: 0.6rem;
      border-radius: 50%;
      background: #fff;
      transition: transform 150ms ease-out;
      &:hover {
        transform: scale(1.2);
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
        svg {
          transform: scale(0.95);
          path {
            fill: var(--text-color--light-primary);
          }
        }
      }
      &:active {
        transform: scale(1);
      }
      svg {
        display: block;
        transition: transform 150ms ease-out;
        path {
          fill: var(--text-color--dark-primary);
        }
      }
    }
  }
}
