@import "../mixins.scss";

.head {
  position: absolute;
  top: 0;
  width: 100%;

  &--left {
    @include mq(medium) {
      position: fixed;
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left top;
    z-index: 120;

    @include mq(xsmall) {
      transform: scale(0.75);
      left: -25%;
    }
    @include mq(small) {
      left: -12.5%;
    }
    @include mq(medium) {
      transform: scale(1);
    }
    @include mq(large) {
      transform: scale(1.25);
    }
    @include mq(xlarge) {
      left: 0;
    }
    @include mq(xxlarge) {
      transform: scale(2);
    }

    .head--left & {
      top: 0;
      left: 2rem;
      transform-origin: top left;
      transform: scale(0.45) translateX(-50%);
      animation: none;
    }
  }

  &__portrait {
    position: relative;
    z-index: 520;
    pointer-events: none;
  }

  &__eye {
    position: absolute;
    z-index: 510;
    width: 3.2rem;
    height: 3.2rem;
    background-size: 2rem 2rem;
    background-image: url("../images/iris.png");
    background-position: center left;
    background-color: #cfcfcf;
    border-radius: 50%;
    background-repeat: no-repeat;

    &--left {
      top: 23rem;
      left: 25.6rem;
    }

    &--right {
      top: 23.2rem;
      left: 34rem;
    }
  }
}
