.source-link {
  color: inherit;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &__icon {
    display: inline-block;
    height: 2rem;
    margin-left: 0.4rem;
    color: currentColor;
    svg {
      height: 100%;
      width: auto;
      fill: currentColor;
    }
  }
}
