.superscript-link {
  counter-increment: footnotes;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  &:after {
    content: "[" counter(footnotes) "]";
    display: inline-block;
    vertical-align: super;
    font-size: 0.5em;
    margin-left: 0.2rem;
    color: var(--text-color--primary-light);
    font-weight: 600;
    text-decoration: none;
  }
  &:focus:after {
    outline: thin dotted;
    outline-offset: 2px;
  }
}
