.five-reasons {
  padding: 16rem 2rem;
  color: var(--text-color--dark-primary);
  background-image: url(../../../images/topo.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color--white);
  &__container {
    display: flex;
    max-width: 180rem;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    position: sticky;
    top: 15rem;
    align-self: flex-start;
    font-size: 6.4rem;
    max-width: 76rem;
    font-weight: 900;
    text-align: right;
    margin: 2rem 4rem 0 0;
    padding: 4rem 0;
    strong {
      font-weight: inherit;
      color: var(--text-color--dark-primary);
    }
  }
  &__accordion {
    min-width: 50%;
  }
  &__blockquote {
    font-family: var(--text-font--script);
    color: var(--text-color--light-primary);
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0 0 0 4rem;
  }
  &__subtext {
    color: var(--text-color--accent-dark);
    font-size: 2.4rem;
  }
}
