@import "../../../mixins.scss";

.five-reasons {
  padding: 4rem 1rem;
  color: var(--text-color--dark-primary);
  background-image: url(../../../images/topo.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color--white);
  @include mq(medium) {
    padding: 16rem 2rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 180rem;
    width: 100%;
    margin: 0 auto;
    @include mq(medium) {
      flex-direction: row;
    }
  }
  &__title {
    align-self: flex-start;
    font-size: 4.4rem;
    line-height: 125%;
    margin: 2rem 0 2rem;
    max-width: 76rem;
    font-weight: 900;
    text-align: center;

    @include mq(medium) {
      text-align: right;
      line-height: 150%;
      margin: 2rem 4rem 0 0;
      padding: 4rem 0;
      position: sticky;
      top: 10rem;
      flex-direction: row;
      font-size: 6.4rem;
    }

    strong {
      font-weight: inherit;
      color: var(--text-color--dark-primary);
    }

    span {
      color: var(--text-color--dark-secondary);
    }
  }
  &__accordion {
    min-width: 50%;
  }
  &__blockquote {
    font-family: var(--text-font--script);
    color: var(--text-color--light-primary);
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0 0 0 4rem;
  }
  &__subtext {
    color: var(--text-color--accent-dark);
    font-size: 2.4rem;
  }
}
