.history-group {
  padding: 8rem 0;
  background: var(--background-color--dark);
  color: var(--text-color--light-primary);
  &__eyebrow {
    padding-left: 8rem;
    text-transform: uppercase;
    * {
      margin: 0;
    }
    :first-child {
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
    }
    :last-child {
      font-size: 4.8rem;
    }
  }
  &__year {
    position: relative;
    height: calc(max(44vw, 16rem));
    overflow: hidden;
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: calc(max(48vw, 16rem));

      line-height: 100%;
      margin: 0;
      white-space: nowrap;
    }
  }
  &__headline {
    max-width: 180rem;
    margin: 0 auto;
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    em {
      font-style: unset;
      color: var(--text-color--accent);
    }
  }
  &__body {
    max-width: 104rem;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 150%;
  }
}

.history-group-text-block {
  display: flex;
  max-width: 104rem;
  align-items: center;

  &--image-center {
    flex-direction: column;
    align-items: flex-start;
  }
  &--text-columns {
    margin-top: 8rem;
  }
  &__text {
    flex-grow: 1;

    .history-group-text-block--text-center-small & {
      max-width: 56rem;
      margin: 0 auto;
    }
    .history-group-text-block--text-columns & {
      margin-right: 4rem;
    }

    &--script {
      margin-top: 4rem;
      text-align: center;
      font-family: var(--text-font--script);
      font-size: 7.2rem;
      line-height: 150%;
      color: var(--text-color--accent);
      min-width: 24rem;
    }

    strong {
      color: var(--text-color--accent);
    }
    h6 {
      margin: 0 0 0.5rem;
      font-weight: 400;
      font-size: 1.6rem;
      opacity: 0.7;
      letter-spacing: 0.1rem;
    }
    p {
      margin: 0 0 2rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__image {
    .history-group-text-block--image-left & {
      margin-right: 8rem;
    }
    .history-group-text-block--image-right & {
      margin: 0 8rem;
    }
    .history-group-text-block--image-center & {
      margin: 8rem 0 2rem;
      width: 100%;
    }
    .history-group-text-block--image-center-small & {
      margin: 8rem auto 2rem;
      width: 56rem;
    }
    img {
      .history-group-text-block--image-left & {
        max-width: 42rem;
      }
      .history-group-text-block--image-right & {
        max-width: 28rem;
      }
      .history-group-text-block--image-center &,
      .history-group-text-block--image-center-small & {
        width: 100%;
      }
    }
    figure {
      margin: 0.5rem 0 0;
      font-size: 1.2rem;
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }
}
