@import "../../../mixins.scss";

.intro {
  padding: 8rem 0;
  background-image: url(../../../images/topo.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color--accent);

  @include mq(small) {
    padding: 16rem 0;
  }
  @include mq(medium) {
    padding-top: 24rem;
  }
}

.intro-policy {
  max-width: 160rem;
  margin: 8rem auto 0;
  padding: 0 2rem;
  color: var(--text-color--light-red);

  @include mq(small) {
    padding: 0 8rem;
  }

  &__text {
    font-size: 2.4rem;
    font-weight: 400;
    strong {
      color: var(--text-color--light-primary);
    }
  }
  &__blockquote {
    font-family: var(--text-font--script);
    color: var(--text-color--light-primary);
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0 0 0 4rem;
  }
  &__subtext {
    color: var(--text-color--light-red);
    font-size: 2.4rem;
    margin-top: 2rem;
  }
}

.intro-association {
  font-size: 2rem;
  color: var(--text-color--light-red);
  &__marquee {
    position: absolute;
    z-index: 105;
    width: 100%;
    height: 10vw;
    overflow: hidden;
    margin-top: 2rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    max-width: 140rem;
    margin: 8rem auto 0;
    padding: 0 16rem;
  }
  &__column {
    display: flex;
    flex-direction: column;
    p {
      margin: 2rem 0 0;
      &:first-of-type {
        margin-top: 4rem;
      }
      &:last-of-type {
        margin-bottom: 4rem;
      }
    }
    s {
      display: inline-block;
      position: relative;
      text-decoration: none;
      &:after {
        content: "";
        position: absolute;
        bottom: 50%;
        width: 100%;
        transform: translateY(50%);
        left: 0;
      }
    }
    &--1 {
      .intro-association__image {
        align-self: flex-end;
      }
      s:after {
        height: 0.6rem;
        background: var(--text-color--dark-primary);
      }
    }
    &--2 {
      s {
        &[data-text] {
          &:before {
            content: attr(data-text);
            position: absolute;
            left: 50%;
            bottom: 0;
            transform-origin: center center;
            transform: translateY(80%) translateX(-50%) rotate(-10deg);
            color: var(--text-color--light-primary);
            font-family: var(--text-font--script);
            font-size: 2.2rem;
            font-weight: 700;
            white-space: nowrap;
          }
          &:after {
            height: 0;
            padding-bottom: 44.3%;
            background-color: none !important;
            background-image: url(../../../images/strike.svg);
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &:not([data-text]) {
          &:after {
            height: 0.6rem;
            background-color: var(--text-color--dark-primary);
          }
        }
      }
      p {
        max-width: 48rem;
      }
      .intro-association__image {
        z-index: 110;
        align-self: flex-start;
        margin-top: 5rem;
        &:last-of-type {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
  }
}
