@import "../../../mixins.scss";

.intro {
  padding: 8rem 0 0;
  background-image: url(../../../images/topo.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color--accent);
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-image: none;
    background-blend-mode: unset;
  }
  margin-bottom: -2rem;

  @include mq(small) {
    padding: 16rem 0 0;
    margin-bottom: -4rem;
  }
  @include mq(medium) {
    padding-top: 24rem;
    padding-bottom: 0;
    margin-bottom: -8rem;
  }
}

.intro-paragraph {
  max-width: 160rem;
  margin: 8rem auto 0;
  padding: 0 2rem;

  @include mq(small) {
    padding: 0 8rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2;
    color: var(--text-color--light-primary);
    @include mq(small) {
      font-size: 2.4rem;
    }
  }
}

.intro-policy {
  max-width: 160rem;
  margin: 4rem auto 0;
  padding: 0 2rem;
  color: var(--text-color--light-red);

  @include mq(small) {
    padding: 0 8rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--text-color--light-primary);
    @include mq(small) {
      font-size: 2.4rem;
    }

    strong {
      color: var(--text-color--light-primary);
    }
  }
  &__blockquote {
    font-family: var(--text-font--script);
    color: var(--text-color--light-primary);
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0 0 0 2rem;
    @include mq(small) {
      font-size: 4.8rem;
      margin-left: 4rem;
    }
  }
  &__subtext {
    color: var(--text-color--light-red);
    font-size: 2.4rem;
    margin-top: 2rem;
  }
}

.intro-association {
  font-size: 1.6rem;
  color: var(--text-color--light-red);
  overflow: hidden;
  @include mq(small) {
    font-size: 2rem;
  }
  @include mq(large) {
    overflow: initial;
  }
  &__container {
    max-width: 112rem;
    margin: 8rem auto 0;
    padding: 0 2rem;
    @include mq(large) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10rem;
      font-size: 2rem;
    }
  }
  &__marquee {
    position: absolute;
    z-index: 105;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    margin-top: 2rem;
    @include mq(small) {
      height: 10vw;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    > *:not(.intro-association__image) {
      position: relative;
      z-index: 600;
      background: var(--background-color--accent);

      @include mq(large) {
        background: none;
      }
    }
    h2 {
      font-weight: 900;
      text-transform: uppercase;
      margin: 4rem 0 0;
      letter-spacing: 0.1rem;
      em {
        letter-spacing: 0.35rem;
      }
      &:first-of-type {
        margin-top: -8rem;
        @include mq(large) {
          margin-top: 4rem;
        }
      }
    }
    p {
      margin: 2rem 0 0;

      &:last-of-type {
        margin-bottom: 4rem;
      }
    }
    s {
      display: inline-block;
      position: relative;
      text-decoration: none;
      &:after {
        content: "";
        position: absolute;
        bottom: 50%;
        width: 100%;
        transform: translateY(50%);
        left: 0;
      }
    }
    &--1 {
      margin-bottom: 2rem;
      @include mq(large) {
        margin-bottom: 0;
      }
      .intro-association__image {
        @include mq(large) {
          align-self: flex-end;
        }
      }
      s:after {
        height: 0.6rem;
        background: var(--text-color--dark-primary);
      }
      .intro-association__video {
        @include mq(large) {
          transform-origin: top right;
          transform: scale(1.05) translateX(-4rem);
        }
      }
    }
    &--2 {
      s {
        &[data-text] {
          &:before {
            content: attr(data-text);
            position: absolute;
            left: 50%;
            bottom: 0;
            transform-origin: center center;
            transform: translateY(80%) translateX(-50%) rotate(-10deg);
            color: var(--text-color--light-primary);
            font-family: var(--text-font--script);
            font-size: 2.2rem;
            font-weight: 700;
            white-space: nowrap;
          }
          &:after {
            height: 0;
            padding-bottom: 44.3%;
            background-color: none !important;
            background-image: url(../../../images/strike.svg);
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &:not([data-text]) {
          &:after {
            height: 0.6rem;
            background-color: var(--text-color--dark-primary);
          }
        }
      }
      .intro-association__image {
        z-index: 110;
        align-self: flex-start;
        margin-top: 5rem;
      }
      .intro-association__video {
        @include mq(large) {
          transform-origin: bottom left;
          transform: scale(1.05) translate(4rem, 0);
        }
      }
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    transform: rotate(-16deg) translateX(-4rem);
    transform-origin: center left;
    width: 320px;
    &:last-of-type {
      align-self: flex-end;
      transform-origin: top right;
      transform: rotate(16deg) translateX(4rem);
    }
    @include mq(large) {
      width: auto;
      transform: none !important;
      width: calc(100% - 8rem);
    }
  }
  &__video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
