.splash {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url(../../../images/topo.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color--base);
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 106rem;
    margin: 0 auto;
  }
  &__headline {
    position: relative;
    z-index: 550;
    font-size: 14.4rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 115%;
    margin: 0 0 2rem;
    pointer-events: none;
    em {
      color: var(--text-color--accent);
      font-style: initial;
    }
  }
  &__cta {
    color: var(--text-color--primary-dark);
    font-size: 3.6rem;
    font-weight: 700;
  }
}
