$breakpoints: (
  xxsmall: 480px,
  xsmall: 640px,
  small: 768px,
  medium: 1024px,
  large: 1200px,
  xlarge: 1440px,
  xxlarge: 2200px
);

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }

  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}
